/* GENERAL*/
*{
    margin: 0;
}

body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: url('../Img/3506328.jpg') no-repeat top center;
}

a{
    text-decoration:none;   
}

li{
    list-style-type: none;
}

ul li{
    display:inline-block;
    margin-right: 20px;
}

ul li a{
    font-weight:bold;
    color:#555;
}

h1{
    font-size:25px;
    font-weight:bold;
}

.header{
    text-align:center;
    background-color:white;
    display:flex;
    margin-top: 10px;
    justify-content:space-between;
    align-items:center;
    height:100%;
}

.content{
    display:flex;
    flex-direction:column;
}

.ecran1, .ecran2, .ecran3{
    text-align:center;
    height:300px;
    width:300px;
    background: rgba(228, 186, 2, 0.5);
    margin:20px;
    padding-top: 20px;
}
.part1, .part2{
    display:flex;
    
}

.ecran{
    display:flex;
    flex-wrap: wrap;
    margin-top: 100px;
}

.ecran button{
    width:200px;
    height:30px;
    background-color: #777;
    margin-top:10px;
    border: 1px solid transparent;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;

}

.ecran button:hover{
    color:#fff;
}

.ecran1:hover{
    opacity: 0.5;
}

/* PAGE D'ACCUEIL*/

.title_acceuil{
    text-transform: uppercase;
    padding:10px;
    background-color: teal;
    color: white;
    width:900px;
    margin: 20px auto;
    cursor:default;
    box-shadow: 5px 5px 12px #555;
}

/* PAGE D'INSCRIPTION*/




.form-inscription{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 100px;
    background-color:#777;
   
}

.form-inscription input[type=text], .form-inscription input[type=password]{ 
    width:400px;
    height:30px;
    outline:none;
    border-radius: 3px;
    border:none;
    margin-bottom:20px;
    text-align:center;
    font-size:20px;
    
}
.form-inscription input[type=submit]{
    width:300px;
    height:40px;
    border-radius: 3px;
    border:none;
    background-color: teal;
    font-size :20px;
    color: white;
    box-shadow: 1px 1px 12px #555;
}

.form-inscription input[type=submit]:hover{
    background-color:rgb(4, 49, 49);
}

.form-inscription label{
    text-transform: uppercase;
    font-size:20px;
    font-weight: bold;
    display: none;
}
.title-inscription{
    text-transform: uppercase;
    padding:10px;
    background-color: teal;
    color: white;
    width:900px;
    margin: 20px auto;
    cursor:default;
    box-shadow: 5px 5px 12px #555;
}
.form-inscription .icon{
    height: 100px;
    width:100px;
    background: url("../Img/user-plus-solid.svg") no-repeat top center;
}

/* PAGE DE CONNEXION*/
.form-connexion{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 100px;
    
   
}

.form-connexion input[type=text], .form-connexion input[type=password]{ 
    width:400px;
    height:30px;
    outline:none;
    border-radius: 3px;
    border:none;
    margin-bottom:20px;
    text-align:center;
    font-size:20px;
    
}
.form-connexion input[type=submit]{
    width:300px;
    height:40px;
    border-radius: 3px;
    border:none;
    background-color: teal;
    font-size :20px;
    color: white;
    box-shadow: 1px 1px 12px #555;
}

.form-connexion input[type=submit]:hover{
    background-color:rgb(4, 49, 49);
}

.form-connexion label{
    text-transform: uppercase;
    font-size:20px;
    font-weight: bold;
    display: none;
}
.title-connexion{
    text-transform: uppercase;
    padding:10px;
    background-color: teal;
    color: white;
    width:900px;
    margin: 20px auto;
    cursor:default;
    box-shadow: 5px 5px 12px #555;
}

.form-connexion .icon{
    height: 100px;
    width:100px;
    background: url("../Img/sign-in-alt-solid.svg") no-repeat top center;
}

